body{
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 20px;
}

.container{
  postion: relative;
  max-width: 800px;
  margin: 0 auto;
}

h1{
  font-size: 70px;
  text-align: center;
}

h2{
  padding-left: 10px;
  font-size: 35px;
  border-bottom: 3px solid #d3d3d3;
  font-weight: normal;
}

.project {
  margin: 5px;
  display: flex;
}

.port_img{
  width: 140px;
  height: 120px;
  padding: 5px;
  margin: 15px;
  float: left;
  text-align: center;
}

.description{
  padding: 5px;
  margin: 15px;
  flex: 1;
  width: calc(100% - 200px);
}

.bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.bar li{
    display: inline-block;
    padding: 14px 16px;
}

.bar li.right {
    float: right;
}

a{
  text-decoration: none;
}

.color, a{
    color: #67D5B5;
}
